#Проигнорируйте файлы, находящиеся в подкаталоге tmp и файлы, заканчивающиеся #суффиксами _old, _backup. Любые символы можно заменить символом звёздочка *.
#Добейтесь чтобы также были проигнорированы файлы Thumbs.db и .DS_Store.

tmp/

*_old

*_backup



.DS_Store